@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* width */
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* background: #374151; */
    border-radius: 30px;
  }

  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 30px;
  }

  /* Handle on hover */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
